<h1>인디언식 이름 짓기</h1>

In [8]:
year = {
   0: '시끄러운 또는 말 많은',
   1: '푸른',
   2: '어두운 -> 적색',
   3: '조용한',
   4: '웅크린',
   5: '백색',
   6: '지혜로운',
   7: '용감한',
   8: '날카로운',
   9: '욕심많은'
}

month = {
   1: '늑대', 2: '태양', 3: '양', 4: '매',
   5: '황소', 6: '불꽃', 7: '나무', 8: '달빛',
   9: '말', 10: '돼지', 11: '하늘', 12: '바람'
}

day = {
   1: '와(과) 함께 춤을', 2: '의 기상', 3: '은(는) 그림자속에',
   4: '', 5: '', 6: '',
   7: '의 환생', 8: '의 죽음', 9: '의 아래에서',
   10: '을(를) 보라', 11: '이(가) 노래하다', 12: '의 그늘 -> 그림자',
   13: '의 일격', 14: '에게 쫓기는 남자', 15: '의 행진',
   16: '의 왕', 17: '의 유령', 18: '을 죽인자',
   19: '은(는) 맨날 잠 잔다', 20: '처럼', 21: '의 고향',
   22: '의 전사', 23: '은(는) 나의 친구', 24: '의 노래',
   25: '의 정령', 26: '의 파수꾼', 27: '의 악마',
   28: '와(과) 같은 사나이', 29: '의 심판자 -> 을(를) 쓰러트린 자', 30: '의 혼',
   31: '은(는) 말이 없다',
}

In [65]:
           #0123456789
birthday = '1971-08-07'

y = birthday[3]
y = birthday[ birthday.find("-") - 1 ] # 4-1=3 번째 문자 슬라이싱(:)
m = birthday[5:7] #5~6번째 문자 슬라이싱(:)
d = birthday[8:10] #8~9번째 문자슬라이싱(:)
print(y, m, d)

#year딕셔너리의 key값이 숫자형으로 되어있기 때문에  int로 문자형을 숫자형으로 변환
print(year.get(int(y)), month.get(int(m)), day.get(int(d)) ) 
print("%s %s%s" % (year.get(int(y)), month.get(int(m)), day.get(int(d)) ) )

#5~6번째 문자 슬라이싱(:)
#5번째 인덱스 이후의 "-" 하이푼을 찾음 
#print(birthday[ birthday.find("-")+1 : birthday.find("-",5)])

# s = '1971-08-07'
# 첫번째 = s.find("-") + 1
# 두번째 = s.find("-", 첫번째+1)
# 월 = s[첫번째 : 두번째]
# print(월)

# 일 = s[두번째 + 1 :]
# print(일)

1 08 07
푸른 달빛 의 환생
푸른 달빛의 환생

In [ ]:
import requests

res = requests.get("https://newsapi.org/v2/top-headlines?country=kr&apiKey=9f5baf7d9f3f42879a20d7d19d9886e4")
result = res.json()

articles = result.get("articles")
for article in articles:
    publishedAt = article.get("publishedAt")
    
    #원본 데이터: "2023-02-10T00:29:03Z"
    
    y = publishedAt[:publishedAt.find("-")] #0~3번째 인덱스 문자열 가져옴

    idx = publishedAt.find("-")
    idx2 = publishedAt.find("-", idx+1)
    m = publishedAt[idx+1 : idx2]
    
    idx3 = publishedAt.find("T")
    d = publishedAt[idx2+1 : idx3]
    print("%s년 %s월 %s일" % (y,m,d))

In [26]:
import requests

res = requests.get("https://dhlottery.co.kr/gameResult.do?method=byWin")
result = res.text

sidx = result.find("<strong>1053회</strong>")
eidx = result.find("num bonus", sidx)

result2 = result[sidx : eidx]

print(result2)

<strong>1053회</strong> 당첨결과</h4>
					<p class="desc">(2023년 02월 04일 추첨)</p>
					<div class="nums">
						<div class="num win">
							<strong>당첨번호</strong>
							<p>
								<span class="ball_645 lrg ball3">22</span>
								<span class="ball_645 lrg ball3">26</span>
								<span class="ball_645 lrg ball3">29</span>
								<span class="ball_645 lrg ball3">30</span>
								<span class="ball_645 lrg ball4">34</span>
								<span class="ball_645 lrg ball5">45</span>
							</p>
						</div>
						<div class="

In [27]:
sidx = result2.find("ball_645")
sidx = result2.find(">", sidx)# "ball_645" 인덱스 이후의 ">" 를 찾아라
eidx = result2.find("<", sidx)# ">" 이후의 "<"를 찾아라

result2[sidx + 1 : eidx]

'22'

In [28]:
sidx = result2.find("ball_645", eidx)
sidx = result2.find(">", sidx)# "ball_645" 인덱스 이후의 ">" 를 찾아라
eidx = result2.find("<", sidx)# ">" 이후의 "<"를 찾아라

result2[sidx + 1 : eidx]

'26'

In [29]:
sidx = result2.find("ball_645", eidx)
sidx = result2.find(">", sidx)# "ball_645" 인덱스 이후의 ">" 를 찾아라
eidx = result2.find("<", sidx)# ">" 이후의 "<"를 찾아라

result2[sidx + 1 : eidx]

'29'

In [30]:
sidx = result2.find("ball_645", eidx)
sidx = result2.find(">", sidx)# "ball_645" 인덱스 이후의 ">" 를 찾아라
eidx = result2.find("<", sidx)# ">" 이후의 "<"를 찾아라

result2[sidx + 1 : eidx]

'30'

In [31]:
sidx = result2.find("ball_645", eidx)
sidx = result2.find(">", sidx)# "ball_645" 인덱스 이후의 ">" 를 찾아라
eidx = result2.find("<", sidx)# ">" 이후의 "<"를 찾아라

result2[sidx + 1 : eidx]

'34'

In [32]:
sidx = result2.find("ball_645", eidx)
sidx = result2.find(">", sidx)# "ball_645" 인덱스 이후의 ">" 를 찾아라
eidx = result2.find("<", sidx)# ">" 이후의 "<"를 찾아라

result2[sidx + 1 : eidx]

'45'

In [33]:
eidx = 0
while True:
    sidx = result2.find("ball_645", eidx)
    if sidx == -1: break
    sidx = result2.find(">", sidx)# "ball_645" 인덱스 이후의 ">" 를 찾아라
    eidx = result2.find("<", sidx)# ">" 이후의 "<"를 찾아라
    print(result2[sidx + 1 : eidx])

22
26
29
30
34
45

In [13]:
import requests

res = requests.get("https://newsapi.org/v2/top-headlines?country=kr&apiKey=9f5baf7d9f3f42879a20d7d19d9886e4")

result = res.json()

articles = result.get("articles")


for article in articles:
    source = article.get("source")
    print(source.get("name"))
    


# source = articles.get("source")

# print(source)

Bodnara.co.kr
Kbench.com
Kormedi.com
Gamemeca.com
Hani.co.kr
Hani.co.kr
Betanews.net
Chosun.com
Mt.co.kr
Sedaily.com
Khan.co.kr
Imbc.com
Newslock.co.kr
Seoul.co.kr
Hani.co.kr
Chosun.com
YouTube
Spochoo.com
Hani.co.kr
Korea.kr

In [42]:
num = 123

일자리 = num % 10
print(일자리)

십자리 = num // 10%10
print(십자리)

백자리 = num // 100%10
print(백자리)

3
2
1

In [44]:
num = 123

n = num % 10
print(n)

num = num  // 10
n = num % 10 
print(n)

num = num  // 10
n = num % 10 
print(n)

3
2
1

In [45]:
num = 123
while True:
    n = num % 10
    print(n)
    num = num // 10
    if num == 0: break

3
2
1

In [55]:
num = 123
temp = str(num)
temp2 = list(temp)

#tem2 리스트 요소 하나하나에 int 자료형 캐스팅 적용
print( list( map(int, temp2) ) ) 

print( sum( list( map(int, temp2) ) ) )

[1, 2, 3]
6

In [103]:
 page = 10
 #시작 1` 마지막 10 
시작 =  (page-1) // 10 * 10 + 1
마지막 = 시작 + 9

시작, 마지막

(1, 10)

In [118]:
import os 
# dir(os.path)
# dir(os.mkdir())

# if os.path.isdir("ggoreb") == False:
#     os.mkdir("ggoreb")
    
if not os.path.isdir("ggoreb"):
    os.mkdir("ggoreb")

In [133]:
text = "abcdef"
center = len(text) // 2

if len(text) % 2 != 0:
    print(text[center])
else:
    print(text[center-1 : center+1])

cd

In [137]:
# 1 ~ 100까지의 숫자중 3이 들어가는 숫자의 개수는?

count = 0

for i in range(1, 101):
    if "3" in str(i):
        count += 1

print(count)

19