# 인디언 이름 짓기
<h1>인디언식 이름 짓기</h1>

In [2]:
year = {
   0: '시끄러운 또는 말 많은',
   1: '푸른',
   2: '어두운 -> 적색',
   3: '조용한',
   4: '웅크린',
   5: '백색',
   6: '지혜로운',
   7: '용감한',
   8: '날카로운',
   9: '욕심많은'
}
month = {
   1: '늑대', 2: '태양', 3: '양', 4: '매',
   5: '황소', 6: '불꽃', 7: '나무', 8: '달빛',
   9: '말', 10: '돼지', 11: '하늘', 12: '바람'
}
day = {
   1: '와(과) 함께 춤을', 2: '의 기상', 3: '은(는) 그림자속에',
   4: '', 5: '', 6: '',
   7: '의 환생', 8: '의 죽음', 9: '의 아래에서',
   10: '을(를) 보라', 11: '이(가) 노래하다', 12: '의 그늘 -> 그림자',
   13: '의 일격', 14: '에게 쫓기는 남자', 15: '의 행진',
   16: '의 왕', 17: '의 유령', 18: '을 죽인자',
   19: '은(는) 맨날 잠 잔다', 20: '처럼', 21: '의 고향',
   22: '의 전사', 23: '은(는) 나의 친구', 24: '의 노래',
   25: '의 정령', 26: '의 파수꾼', 27: '의 악마',
   28: '와(과) 같은 사나이', 29: '의 심판자 -> 을(를) 쓰러트린 자', 30: '의 혼',
   31: '은(는) 말이 없다',
}

In [14]:
#    0123456789
s = '1971-08-07'
s.find('-'), s.find('-', 5)
첫번째 = s.find('-')
두번째 = s.find('-', 첫번째+1)
월 = s[첫번째+1 : 두번째]  # <= -08이 아닌 08이 나오도록
print(월) # 일자 07이 출력되도록
일 = s[두번째+1 : ]
print(일)

08
07

In [21]:
#           0123456789
birthday = '1971-08-07'

y = birthday[3]
y = birthday[   birthday.find('-') - 1   ]

m = birthday[5:7]
m = birthday[birthday.find('-') + 1 : birthday.find('-', 5) ]
m = birthday[birthday.find('-') + 1 : 7 ]
d = birthday[8:10]
print(
    '%s%s%s' % (
        year.get( int(y) ), 
        month.get( int(m) ), 
        day.get( int(d) )
    )
)

푸른달빛의 환생

In [22]:
a = 1, 2, 3
print(a)

(1, 2, 3)

In [23]:
import requests
res = requests.get('https://newsapi.org/v2/top-headlines?country=kr&apiKey=9f5baf7d9f3f42879a20d7d19d9886e4')
result = res.json()

In [25]:
articles = result.get('articles')
for article in articles:
    publishedAt = article.get('publishedAt')
    y = publishedAt[:publishedAt.find('-')]
    
    idx = publishedAt.find('-')
    idx2 = publishedAt.find('-', idx+1)
    m = publishedAt[idx+1 : idx2]
    
    idx3 = publishedAt.find('T')
    d = publishedAt[idx2+1 : idx3]
    print('%s년 %s월 %s일' % (y, m, d))

2023년 02월 10일
2023년 02월 10일
2023년 02월 10일
2023년 02월 10일
2023년 02월 10일
2023년 02월 10일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일
2023년 02월 09일

In [ ]:
s = '1971-08-07'
s.split('-'), s.split('-')[0]

# 로또 1등번호 가져오기

In [33]:
import requests
res = requests.get(
    'https://dhlottery.co.kr/gameResult.do?method=byWin')
result = res.text

In [47]:
sidx = result.find('<strong>1053회</strong>')
eidx = result.find('num bonus', sidx)
result2 = result[sidx:eidx]
print(result2)

<strong>1053회</strong> 당첨결과</h4>
					<p class="desc">(2023년 02월 04일 추첨)</p>
					<div class="nums">
						<div class="num win">
							<strong>당첨번호</strong>
							<p>
								<span class="ball_645 lrg ball3">22</span>
								<span class="ball_645 lrg ball3">26</span>
								<span class="ball_645 lrg ball3">29</span>
								<span class="ball_645 lrg ball3">30</span>
								<span class="ball_645 lrg ball4">34</span>
								<span class="ball_645 lrg ball5">45</span>
							</p>
						</div>
						<div class="

In [56]:
sidx = result2.find('ball_645')
sidx = result2.find('>', sidx)
eidx = result2.find('<', sidx)
result2[sidx+1 : eidx]

'22'

In [54]:
sidx = result2.find('ball_645', eidx)
print(sidx)
sidx = result2.find('>', sidx)
eidx = result2.find('<', sidx)
result2[sidx+1 : eidx]

-1

'<strong>1053회</strong> 당첨결과</h4>\r\n\t\t\t\t\t<p class="desc">(2023년 02월 04일 추첨)</p>\r\n\t\t\t\t\t<div class="nums">\r\n\t\t\t\t\t\t<div class="num win">\r\n\t\t\t\t\t\t\t<strong>당첨번호</strong>\r\n\t\t\t\t\t\t\t<p>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball3">22</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball3">26</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball3">29</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball3">30</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball4">34</span>\r\n\t\t\t\t\t\t\t\t<span class="ball_645 lrg ball5">45</span>\r\n\t\t\t\t\t\t\t</p>\r\n\t\t\t\t\t\t</div>\r\n\t\t\t\t\t\t<div class='

In [ ]:
for i in range(4):
    
def abc():

In [55]:
eidx = 0
while True:
    sidx = result2.find('ball_645', eidx)
    if sidx == -1: break
    sidx = result2.find('>', sidx)
    eidx = result2.find('<', sidx)
    print(result2[sidx+1 : eidx])

22
26
29
30
34
45

In [59]:
num = 123  # 1 2 3
일자리 = num % 10
print(일자리)
십자리 = num // 10 % 10
print(십자리)
백자리 = num // 100 % 10
print(백자리)

3
2
1

In [62]:
int(123.0 % 10)

3

In [69]:
num = 123
temp = str(num)
temp2 = list(temp)
print(list(map(int, temp2)))
print(sum(list(map(int, temp2))))

[1, 2, 3]
6

In [63]:
num = 123  # 1 2 3
while True:
    n = num % 10
    print(n)
    num = num // 10
    if num == 0: break

3
2
1

In [77]:
page = 10  # 10으로 나누어 떨어지는 페이지는 오동작
# 시작 1   마지막 10  <==
시작 = (page-1) // 10 * 10 + 1
# if page % 10 == 0:
#     시작 = page - 9

마지막 = 시작 + 9
시작, 마지막

(1, 10)

In [ ]:
if text:

In [87]:
# 폴더가 없으면 생성하기
import os
# if os.path.isdir('ggoreb') == False:
if not os.path.isdir('ggoreb'):
    os.mkdir('ggoreb')

In [89]:
#       012345
text = 'abcdef'  # 홀수 => c
center = len(text) // 2
if len(text) % 2 != 0:
    print(text[center])
else:
    #             2    :    4
    print(text[center-1:center+1])

cd

#### 비교 & 논리 연산자

In [94]:
a = 4
b = 2
c = 1
# a가 5이고 b가 3이거나 c가 1이면 통과
if b == 3 or c == 1 and a == 5:
    print('통과')

In [95]:
count = 0
for i in range(1, 101):
    if '3' in str(i):
        count = count + 1
print(count)

19